\# Лабораторная работа к лекции 1
Ваше имя: Капранова Виктория

Ваш адрес электронной почты: KapranovaVE@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
a = 5
b = 66.7
c = a+b
print(c,type(c))

a = 'hello'
print(a,type(a))

d = ', world'
print(a+d, type(a+d))

try:
    a+b
except Exception as m:
    print("Произошла ошибка:", m)

71.7 <class 'float'>
hello <class 'str'>
hello, world <class 'str'>
Произошла ошибка: can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [33]:
# Ваш код
def double_number(a, b):
    a+= b
    return a
print(double_number(7,266))

try:
    a
except Exception as e:
    print("Ошибка:", e)

273
Ошибка: name 'a' is not defined

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [34]:
name = "Виктория"
age = 19
spec = "Бизнес-Информатика"
print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age*12} месяцев, или {age*12*30} дней...")

Имя: Виктория, Специальность: Бизнес-Информатика, Возраст: 19 лет, или 228 месяцев, или 6840 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [7]:
n = 7
def func(a,b):
    return a*b/n
print(
    func(3,7) , func(-15,0) , func(7, 15.5) , sep="\n")

3.0
0.0
15.5

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [23]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [24]:
for b, p in zip(books_read, people):
    if b == 0:
        print(f'{p} не читал ни одной книги!')
    else:
        print(f'{p} прочитал {b} книг!')

Krishnang прочитал 12 книг!
Steve прочитал 6 книг!
Jimmy не читал ни одной книги!
Mary прочитал 7 книг!
Divya прочитал 4 книг!
Robert прочитал 10 книг!
Yulia прочитал 15 книг!

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [26]:
def print_books_read(books, people):
    for b, p in zip(books, people):
        if b == 0:
            print(f'{p} не читал ни одной книги!')
        else:
            print(f'{p} прочитал {b} книг!')


print_books_read(books_read, people)

Krishnang прочитал 12 книг!
Steve прочитал 6 книг!
Jimmy не читал ни одной книги!
Mary прочитал 7 книг!
Divya прочитал 4 книг!
Robert прочитал 10 книг!
Yulia прочитал 15 книг!

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [30]:
sort_read = [(b, p) for b, p in zip(books_read, people)]

In [31]:
sorted(sort_read, reverse=True)

[(15, 'Yulia'),
 (12, 'Krishnang'),
 (10, 'Robert'),
 (7, 'Mary'),
 (6, 'Steve'),
 (4, 'Divya'),
 (0, 'Jimmy')]

In [32]:
for b, p in sorted(sort_read, reverse=True)[:3]:
    print(f'{p} прочитал {b} книг!')

Yulia прочитал 15 книг!
Krishnang прочитал 12 книг!
Robert прочитал 10 книг!